<h3>Pluck</h3>

<hr />
<div class="row">
  <div class="col-md-6">
    <h5 class="pt-3">Ex - 01 (Pluck)</h5>
    <div class="card">
      <div class="card-header">
        <strong>Pluck:</strong> by property `pipe(pluck('name'))`
      </div>
      <div class="card-body">
        <ul id="pluck-container1"></ul>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="Pluck1Subscribe()">
          Subscribe
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h5 class="pt-3">Ex - 02 (Pluck)</h5>
    <div class="card">
      <div class="card-header">
        <strong>Pluck:</strong> by nested property `pipe(pluck('job','title'))`
      </div>
      <div class="card-body">
        <ul id="pluck-container2"></ul>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="Pluck2Subscribe()">
          Subscribe
        </button>
      </div>
    </div>
  </div>
</div>
