<h3>Concat and Merge</h3>
<hr />
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <strong>Ex 01: News channel Observable</strong>
      </div>
      <div class="card-body">
        <ul id="container1"></ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <strong>Ex 02: TechGadgets channel Observable</strong>
      </div>
      <div class="card-body">
        <ul id="container2"></ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <strong>Ex 03: Social channel Observable</strong>
      </div>
      <div class="card-body">
        <ul id="container3"></ul>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header"><strong>Ex - Concat</strong></div>
      <div class="card-body">
        <ul id="container4"></ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header"><strong>Ex - Merge</strong></div>
      <div class="card-body">
        <ul id="container5"></ul>
      </div>
    </div>
  </div>
</div>
