<h3>SwitchMap</h3>
<hr />
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <strong>Ex 01: Map</strong>
      </div>
      <div class="card-body">
        <ul id="container1"></ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <strong>Ex 02: Map + SwitchAll (emit only last value)</strong>
      </div>
      <div class="card-body">
        <ul id="container2"></ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <strong>Ex 03: SwitchMap (emit only last value)</strong>
      </div>
      <div class="card-body">
        <ul id="container3"></ul>
      </div>
    </div>
  </div>
</div>
