<h3>Take</h3>

<hr />
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header"><strong>Ex 01: Take(5)</strong></div>
      <div class="card-body">
        <ul id="container1">

        </ul>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="Subscribe1()">
          Subscribe
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header"><strong>Ex 02: TakeLast(3)</strong></div>
      <div class="card-body">
        <ul id="container2">

        </ul>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="Subscribe2()">
          Subscribe
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header"><strong>Ex 03: TakeUntil(condition)</strong></div>
      <div class="card-body">
        <ul id="container3">

        </ul>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="Subscribe3()">
          Subscribe
        </button>
      </div>
    </div>
  </div>
</div>
