<h3>Subject & BehaviourSubject</h3>
<hr />
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <strong>Ex 01: Subject</strong>
      </div>
      <div class="card-body">
        <input type="text" class="form-control" />
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" *ngIf="isSubscibed" (click)="unsubscribe()">Unsubscribe</button>
        <button class="btn btn-primary" *ngIf="!isSubscibed" (click)="subscribe()">Subscribe</button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <strong>Ex 02: BehaviorSubject</strong>
      </div>
      <div class="card-body">
        <input type="text" #uname class="form-control" />
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="onChange(uname)">Change</button>
      </div>
    </div>
  </div>

</div>
