<h3>Tap</h3>

<hr />
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header"><strong>Ex 01:</strong></div>
      <div class="card-body">
        <ul id="container1">

        </ul>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="Subscribe1()">
          Subscribe
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header"><strong>Ex 02:</strong></div>
      <div class="card-body">
        <ul id="container2" [ngStyle]="{color: myColor}">

        </ul>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="Subscribe2()">
          Subscribe
        </button>
      </div>
    </div>
  </div>
</div>
