<div class="row">

  <div class="col-md-3 my-2">
    <div class="card list pointer" routerLink="of-from">
      <div class="card-body">
        <h5>Of and From</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 my-2">
    <div class="card list pointer" routerLink="to-array">
      <div class="card-body">
        <h5>ToArray</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 my-2">
    <div class="card list pointer" routerLink="custom-observable">
      <div class="card-body">
        <h5>Custom Observable</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 my-2">
    <div class="card list pointer" routerLink="map">
      <div class="card-body">
        <h5>Map</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 my-2">
    <div class="card list pointer" routerLink="pluck">
      <div class="card-body">
        <h5>Pluck</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 my-2">
    <div class="card list pointer" routerLink="filter">
      <div class="card-body">
        <h5>Filter</h5>
      </div>
    </div>
  </div>

</div>
