<h3>Debounce and DistinctUntilChanged</h3>
<hr />
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header"><strong>Ex 01: without DebounceTime</strong></div>
      <div class="card-body">
        <input type="text" class="form-control" #input />
        <hr>
        <span>{{inputtext}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header"><strong>Ex 02: debounceTime(2000) - *emit after 2s</strong></div>
      <div class="card-body">
        <input type="text" class="form-control" #debounceInput />
        <hr>
        <span>{{inputtext1}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header"><strong>Ex 03: DistinctUntilChanged</strong></div>
      <div class="card-body">
        <input type="text" class="form-control" #ducInput />
        <hr>
        <span>{{inputtext2}}</span>
      </div>
    </div>
  </div>
</div>
