/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.list {
  background: aliceblue;
  text-align: center;
  height: 125px;
  padding: 30px;
}
.pointer{
  cursor: pointer;
}
