/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.list {
  background: aliceblue;
  text-align: center;
  height: 125px;
  padding: 30px;
}
.pointer{
  cursor: pointer;
}

// for custom observable component
ul.custObs.completed li{
  color: green;
  border-color: green;
}
ul.custObs.error li{
  color: red;
  border-color: red;
}
